quarkus:
  http:
    port: ${QUARKUS_HTTP_PORT:8080}
    cors:
      ~: true
      origins: '*'
      methods: GET,POST,PUT,DELETE,OPTIONS,PATCH,HEAD
      headers: '*'
      exposed-headers: '*'
      access-control-max-age: 86400S
      access-control-allow-credentials: true
  log:
    level: INFO
  # Swagger UI configuration
  swagger-ui:
    always-include: true
    path: /swagger-ui
    theme: original
  # OpenAPI configuration
  smallrye-openapi:
    path: /openapi
    info-title: OpenEPCIS Snippet Service API
    info-version: 1.0.0
    info-description: API for managing atomic snippets in form of JSON schema
    info-contact-name: OpenEPCIS community
    info-contact-email: info@openepcis.io
    info-contact-url: https://github.com/openepcis/snippet-service
  # OpenSearch configuration
  opensearch:
    hosts: ${QUARKUS_OPENSEARCH_HOSTS:localhost:9200}
    protocol: ${QUARKUS_OPENSEARCH_PROTOCOL:http}
